<body style="margin: 0; line-height: 30px; ">
    <header style="background-color: #1480C1;">
        <br>
        <h1 style="text-align: center; color: #fff;">Bem vindo ao Sistema de Lojas</h1>
        <hr>
    </header>
    