<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<% if (messages.success) { %>
    <div class="alert alert-success">
        <%= messages.success %>
    </div>
<% } %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 style="text-align: center;">Escolha para onde deseja prosseguir!</h1>
        </div>
        <div class="card-body">
                <div class="jumbotron"></div>
                <br>      
                <p class="lead">
                    <a style="background-color:#77CFF2; font-size: 25px;" class="btn btn-info btn-lg" href="/pedidos" role="button">Verificar pedidos</a>
                </p>
                <div class="jumbotron"></div>
                <br>      
                <p class="lead">
                    <a style="background-color:#77CFF2; font-size: 25px;" class="btn btn-info btn-lg" href="/clientes" role="button">Perfil dos clientes</a>
                </p>
                <div class="jumbotron"></div>
                <br>
                <p class="lead">
                    <a style="background-color:#77CFF2; font-size: 25px;" class="btn btn-info btn-lg" href="/produtos" role="button">Verificar produtos</a>
                </p>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>